*{
    margin: 0;
    padding: 0;
    text-align: justify;
}


nav{
    padding: 10px;
    background-color:white;
    text-align: center;    
    background-color: black;
    color: red;

}

a:visited{
    color: red;
}
a:link{
    color: red;
}
a:active{
    color: red;
}

nav a{
    font-family: Arial, Helvetica, sans-serif;
    margin:0 30px;    
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}




main{    
    border-radius: 10px;
    padding: 0 15px 15px 15px;
    width: 800px;    
    margin: 10px auto;
    background-color: rgb(7, 7, 7);
    font-size: 20px;
    color:white;
}



h1 {
    border-radius:10px 10px 0 0 ;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    padding: 5px 0;
}

#apresentacao p{
    margin: 10px 0 ;
    
}
.drama{
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    border: solid 2px gray;
}

.drama p {
    margin-left: 10px;
}

.generos{
    margin: 10px;
}

.imagem-sinopse{
    width: 130px;
    height: 200px;
}